@model ConsultasMedicas.Models.Medico

<h1>Excluir Médico</h1>

<h3>Você tem certeza que deseja excluir este médico?</h3>
<div>
    <h4>Detalhes do Médico:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nome:</dt>
        <dd class="col-sm-10">@Model.Nome</dd>
        <dt class="col-sm-2">Especialidade:</dt>
        <dd class="col-sm-10">@Model.Especialidade</dd>
        <dt class="col-sm-2">Horário de Trabalho:</dt>
        <dd class="col-sm-10">@Model.HorarioTrabalho</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index">Cancelar</a>
    </form>
</div>
