@model ConsultasMedicas.Models.Medico

<h1>Detalhes do Médico</h1>

<table class="table">
    <tr>
        <th>Nome:</th>
        <td>@Model.Nome</td>
    </tr>
    <tr>
        <th>Especialidade:</th>
        <td>@Model.Especialidade</td>
    </tr>
    <tr>
        <th>Horário de Trabalho</th>
        <td>@Model.HorarioTrabalho</td>
    </tr>
</table>

<a asp-action="Index">Voltar para a Lista</a>